<nav class="navbar-default navbar-static-side ng-scope" role="navigation">   
   <div class="sidebar-collapse" full-scroll>
      <ul side-navigation class="nav metismenu" id="side-menu">
         <li class="nav-header">
            <div class="profile-element" uib-dropdown>
               <img alt="image" class="img-circle" profile-image="usuario.imagem" style="cursor: pointer" ng-click="goToMe();"/>
               <a uib-dropdown-toggle href>
                  <span class="clear">
                     <span class="block m-t-xs">
                        <strong class="font-bold">{{usuario.nome}}</strong><b class="caret"></b>
                     </span>                        
                  </span>
                  <span class="text-muted text-xs block">{{(usuario.email==null?'Banda':'')}}</span>
               </a>
              
               <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                  <li ng-repeat="option in usuario.options">
                     <a class="no-padding" ng-click="changeCurrentUser(option.id)">
                     <img alt="image" class="img-circle" ng-src="./api/acao.php?acao=getImageProfile&id={{option.imagem}}&w=20&h=20"/>
                     &nbsp;
                     {{option.nome}}
                     </a>
                  </li> 
                  <li>
                     <a ui-sref="index.createband">Criar Banda...</a>
                  </li> 
               </ul>
               
            </div>
            <div class="logo-element">
               IN+
            </div>
         </li>
         
         <li ui-sref-active="active">
            <a ui-sref="index.me"><i class="fa fa-user"></i> <span class="nav-label">Perfil</span> </a>
         </li>
         <li ui-sref-active="active">
            <a ui-sref="index.map({tipo: 'm'})"><i class="fa fa-map"></i> <span class="nav-label">Encontre Músicos</span></a>
         </li>
         <li ui-sref-active="active">
            <a ui-sref="index.map({tipo: 'b'})"><i class="fa fa-map"></i> <span class="nav-label">Encontre Bandas</span></a>
         </li>
         <li ui-sref-active="active">
            <a ui-sref="index.editprofile"><i class="fa fa-edit"></i> <span class="nav-label">Editar Perfil</span></a>
         </li>
         <!--
         <li ui-sref-active="active">
            <a ui-sref="index.profile({uid: 3})"><i class="fa fa-desktop"></i> <span class="nav-label">Tais</span></a>
         </li>
         <li ui-sref-active="active">
            <a ui-sref="index.profile({uid: 1})"><i class="fa fa-desktop"></i> <span class="nav-label">João</span></a>
         </li>
         -->
      </ul>

   </div>
</nav>